// Import the dark color scheme as a base
@import "./color_schemes/dark";

// Override the colors using available variables
$purple-000: #ececec !default;
$purple-100: #9fd3c7 !default;
$purple-200: #385170 !default;
$purple-300: #142d4c !default;
